$brown : #890000;
$red : #f1022a;
$yealow : #ffc220;
$pink :#860012;
$grey:#818285;
$blue :#2e4c9c;
$blue-white :#4962a4;
$red-white:#d1131a;
$gray :#7d7d7d;
$pink-white : #e4002b;
$background:#f8f8f5;
