<div class="slider">
  <app-slider item="{{ list.join('*') }}"></app-slider>
</div>

<div class="mennufood">
  <div class="container d-flex mennu_head">
    <div class="row">
      <img
        src="/assets/img/dat-hang-truc-tuyen-vn.jpg"
        class="col-xl-6 col-12"
        alt=""
        srcset=""
      />
      <img
        src="/assets/img/tai-app-vn.png"
        class="col-xl-6 col-12"
        alt=""
        srcset=""
      />
    </div>
  </div>
  <div class="slider_food">
    <h4 class="title_mobile">THỰC ĐƠN</h4>
    <app-carousel></app-carousel>
  </div>
</div>

<div class="party">
  <div class="container">
    <div class="row">
      <div class="slider_party col-xl-6 col-12">
        <app-slider item="{{ party.join('*') }}"></app-slider>
      </div>
      <div class="main_party col-xl-6 col-12">
        <img src="/assets/img/sinh-nhat-kho-quen.png" alt="" srcset="" />
        <h2>SINH NHẬT KHÓ QUÊN CÙNG KFC</h2>
        <a href="#">ĐẶT TIỆC SINH NHẬT</a>
      </div>
    </div>
  </div>
</div>

<div class="choose_kfc">
  <div class="container">
    <h2>tại sao chọn kfc?</h2>
    <p>
      KFC sẽ mang lại cho bạn cảm giác hài lòng và thoải mái khi thưởng thức
      những bữa ăn yêu thích . Vì chúng tôi biết, bữa ăn sẽ ngon hơn rất nhiều
      nếu được phục vụ bằng cả trái tim.
    </p>
    <a href="#">tìm hiểu thêm</a>
  </div>
</div>
