<div class="confirm_container">
  <h4 class="title_confirm">
    Vui lòng xem lại thông tin đặt hàng và chọn phương thức thanh toán bên
    dưới.<br />
    Thông tin đặt hàng của quý khách như sau:
  </h4>
  <div class="delivery_address">
    <div class="title_delivery">
      <p>địa chỉ giao hàng</p>
      <button>Sửa</button>
    </div>
    <div class="content_delivery">
      <div class="row value">
        <span class="col-xl-4">Người nhận:</span>
        <p class="col-xl-4">{{ dataShipment.name }}</p>
      </div>
      <div class="row value">
        <span class="col-xl-4">Địa chỉ (Số nhà - Tên đường):</span>
        <p class="col-xl-4">{{ dataShipment.address }}</p>
      </div>
      <div class="row value">
        <span class="col-xl-4">Tỉnh/Thành phố:</span>
        <p class="col-xl-4">{{ dataShipment.city }}</p>
      </div>
      <div class="row value">
        <span class="col-xl-4">Quận/Huyện:</span>
        <p class="col-xl-4">{{ dataShipment.distinct }}</p>
      </div>
      <div class="row value">
        <span class="col-xl-4">Phường/Xã:</span>
        <p class="col-xl-4">{{ dataShipment.local }}</p>
      </div>
      <div class="row value">
        <span class="col-xl-4">Điện thoại:</span>
        <p class="col-xl-4">{{ dataShipment.phone }}</p>
      </div>
      <div class="row value">
        <span class="col-xl-4">Email:</span>
        <p class="col-xl-4">{{ dataShipment.gmail }}</p>
      </div>
    </div>
  </div>
  <div class="product_information">
    <table>
      <tr class="row header_table">
        <th class="col-xl-6 first">THÔNG TIN SẢN PHẨM</th>
        <th class="col-xl-2">ĐƠN GIÁ</th>
        <th class="col-xl-2">SỐ LƯỢNG</th>
        <th class="col-xl-2">THÀNH TIỀN</th>
      </tr>
      <tbody>
        <tr class="row body_table" *ngFor="let item of dataFoods">
          <td class="col-xl-6 first">
            <div class="nameFood">
              <button><i class="fas fa-plus"></i></button>
              <p>{{ item.name }}</p>
            </div>
          </td>
          <td class="col-xl-2 unit_price">
            <span>{{ item.price }}</span
            >.000 VNĐ
          </td>
          <td class="col-xl-2 amount">
            <input type="text" value="{{ item.number }}" disabled />
          </td>
          <td class="col-xl-2 into_monney">
            <span>{{ item.total }}</span
            >.000 VNĐ
          </td>
        </tr>
        <div class="row footer_table">
          <div class="col-xl-6 discount_code">
            <p>Mã giảm giá</p>
            <form action="">
              <input type="text" placeholder="Nhập mã vào đây" /><button>
                Áp dụng
              </button>
            </form>
          </div>
          <div class="col-xl-3 order">
            <p id="order_value">giá trị đơn hàng:</p>
            <p id="order_value">phí giao hàng:</p>
            <p id="total_payment">tổng thanh toán:</p>
          </div>
          <div class="col-xl-3 price">
            <p id="priceSingle">
              <span>{{ totalPrice }}</span
              >.000&ensp;VNĐ
            </p>
            <p id="priceSingle"><span>10</span>.000&ensp;VNĐ</p>
            <p id="sum">
              <span>{{ priceLast }}</span
              >.000&ensp;VNĐ
            </p>
          </div>
        </div>
      </tbody>
    </table>
    <div class="payments">
      <div class="header_payments">CHỌN HÌNH THỨC THANH TOÁN</div>
      <div class="body_payments">
        <i class="fas fa-truck"></i>
        <input type="checkbox" disabled checked />
        <p>Thanh toán khi nhận hàng</p>
      </div>
    </div>
    <div class="operation_policy">
      <div class="sumbit">
        <input type="checkbox" name="" id="" />
        <p>
          Tôi đã đồng ý với các <span>Chính Sách Hoạt Động</span> của KFC Việt
          Nam.
        </p>
      </div>
      <div class="row yesOrnot">
        <div class="col-xl-6 no">
          <button>hủy đơn hàng</button>
        </div>
        <div class="col-xl-6 yes">
          <button (click)="onSubmit()">đồng ý đặt hàng</button>
        </div>
      </div>
    </div>
  </div>
</div>
