input {
  width: 42px;
  height: 42px;
  color: #7d7d7d;
  border: 1px #818285 solid;
  border-radius: 7px;
}
label {
  font-size: 18px;
  color: #7d7d7d;
  margin-left: 15px;
  margin-right: 50px;
  position: relative;
  bottom: 7px;
}
