.cart_banner {
  background: url('/assets/img/6955a6fad267c5bc3c5eaf0512ee9390.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 279px;
}
.body_cart {
  background: #f8f8f5;
  padding-bottom: 40px;
}

