<div class="footer_header">
 <div class="container">
    <div class="row main">
        <ul class='icons'>
            <li>
              <a href="">
                  <i class="fab fa-facebook-f "></i>
              </a>
            </li>
            <li>
                <a href="">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
          </ul>
          <form action="">
            <label>Đăng ký nhận thông tin</label>
            <input type="text" placeholder="Nhập email">
            <button>ĐĂNG KÝ</button>
          </form>
    </div>

    <div class="row end">
      <ul>
        <li class='first'>
          <a href='#'>
            <i class="fas fa-birthday-cake"></i>đặt tiệc sinh nhật
          </a>
        </li>
        <li *ngFor="let item of items">
          <a href="{{item.link}}">
            {{item.content}}
          </a>
        </li>
      </ul>
    </div>
 </div>
</div>
<div class="footer_end">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-12">
        <ul>
          <li *ngFor="let item of infos">{{item}}</li>
          <li class='coppy'>Copyright © 2017 KFC Việt Nam</li>
        </ul>
      </div>
      <div class="col-xl-4 col-12 alert">
        <img src="/assets/img/logoOnline.png" alt="" srcset="">
      </div>
    </div>
  </div>
</div>
